{% extends 'base.html' %}

{% block content %}
<center>
   <h1>DATA UPLOAD PERSYARATAN</h1>   
</center><br>

<div class="container">
   <div class="row">
      <div class="col-md-12">
         <table class="table table-bordered table-striped">
            <thead>
               <tr>
                  <th>NAMA MAHASISWA</th>
                  <th>JUDUL TUGAS AKHIR</th>
                  <th>STATUS VALIDASI</th>
               </tr>
            </thead>
            <tbody>
               {% for tugasakhir in ta %}
                  <tr>
                     <td>{{ tugasakhir.mahasiswa_id }}</td>
                     <td>{{ tugasakhir.judul }}</td>
                     <td style="text-align:center;">
                        <a href="#" class="btn btn-dark"><i class="fa fa-circle-exclamation"></i></a>
                     </td>
                  </tr>
               {% endfor %}
            </tbody>
         </table>
      </div>
   </div>
</div>
 
{% endblock %}