{% extends 'base.html' %}
{% block content %}
<center>
    <h1>VALIDASI JUDUL TUGAS AKHIR, {{ validasi_dospem.mahasiswa_id}}</h1>
  </center><br />
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        {% for message in messages %}
          {% if message %}
            <div class="alert alert-success">{{ message }}</div>
          {% endif %}
        {% endfor %}
        <form action="{% url 'ubah_validasi_dospem' validasi_dospem.id %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{form}}

          <br />
          <a href="/data-validasi-dosen-pembimbing" class="btn btn-danger"><i class="fa fa-arrow-left"></i></a>
          <button class="btn btn-success"><i class="fa fa-floppy-disk"></i></button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}