<style>
    body {
      font-family: "Times New Roman", Times, serif;
      font-size: 12px;
      line-height: 1.5;
    }
    h1 {
      text-align: center;
    }
    .section-title {
      font-weight: bold;
    }
    .content {
      width: 90%;
      margin: 0 auto;
    }
    .team-table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 10px; /* Mengurangi jarak bawah antar tabel */
    }
    .info-table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 10px;
    }
    .info-table td {
      padding: 3px; /* Mengurangi padding di sekitar sel tabel */
      vertical-align: top; /* Menjaga teks di bagian atas sel tabel */
    }
    .info-table td:nth-child(2) {
      padding-left: 5px; /* Mengurangi jarak antara kolom pertama dan kolom kedua */
    }
    .team-table,
    .team-table td,
    .team-table th {
      border: 1px solid;
      padding: 10px;
    }
    .team-table th {
      text-align: center;
      font-weight: normal;
    }
    .signature {
      display: flex;
      justify-content: flex-end;
      margin-right: 70px;
    }
    .container-table-a {
      width: 100%;
    }
    .container-table-b {
      width: 100%;
    }
    .container-table-c {
      width: 50%;
      margin-left: 22px;
    }
    .container-table-d {
      width: 95%;
    }
    .container-table-e {
      width: 90%;
    }
  
    .logo-kop img {
      height: 110px;
      width: 144px;
      object-fit: fill;
    }
    .container-header-kop {
      display: flex;
      justify-content: center;
      gap: 65px;
    }
  
    .header-kop {
      color: #27397f;
      font-size: 12px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    .header-kop table {
      color: #27397f;
    }
  
    .header-kop h1,
    p {
      margin: 0 0;
      padding: 0 0;
    }
    .header-kop table {
      margin: 0 auto;
    }
  
    .hr-style {
      height: 2px;
      background-color: #27397f;
    }
    .button {
        color: inherit; /* Warna mengikuti elemen induk */
        text-decoration: none; /* Menghilangkan garis bawah */
        padding: 5px 10px; /* Mengatur padding agar mirip dengan tombol */
        border: 1px solid #ccc; /* Mengatur border agar mirip dengan tombol */
        background-color: #f8f8f8; /* Warna latar belakang tombol */
        cursor: pointer; /* Mengubah kursor menjadi pointer untuk efek klik */
    }
    
    .button:hover {
        background-color: #e6e6e6; /* Warna latar saat hover */
    }
    @media print {
      @page {
        size: A4; /* Mengatur ukuran kertas menjadi A4 */
        margin-top: 6cm;
        margin-left: 2.8cm;
        margin-bottom: 2.54cm;
        margin-right: 2.25cm;
      }
      .content {
        width: 100%;
        margin: 0;
      }
      .info-table,
      .team-table {
        width: 100%;
        page-break-inside: avoid; /* Menghindari pemotongan tabel di tengah halaman */
      }
      .no-print {
        display: none;
      }
    }
  </style>
  {% load static %} {% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <center>
          <p style="text-decoration: underline; font-size: 21px; font-weight: bold;">LEMBAR REVISI</p>
          <p style="text-decoration: underline; font-size: 21px; font-weight: bold;">HASIL UJIAN TUGAS AKHIR PENELITIAN</h1>
        </center><br>
        <div class="container-table-a">
          <table class="info-table">
            <tr>
              <td>NAMA</td>
              <td>:</td>
              <td>{{ nama_mahasiswa|upper }}</td>
            </tr>
            <tr>
              <td>NPM</td>
              <td>:</td>
              <td>{{ npm }}</td>
            </tr>
            <tr>
              <td>JURUSAN</td>
              <td>:</td>
              <td>{{ jurusan|upper }}</td>
            </tr>
            <tr>
              <td>JUDUL PENELITIAN</td>
              <td>:</td>
              <td>{{ judul_tugas_akhir|upper }}</td>
            </tr>
          </table>
        </div>
        <p style="font-size: 16px;">Hal-hal yang perlu direvisi :</p>
        <div class="container-table-b">
          <table class="team-table">
            <tr>
              <th style="height: 40px;">Keterangan</th>
            </tr>
            <tr>
              <td style="height: 40px;">{{ revisi }}</td>
          </table>
        </div>
        <div class="container-table-a">
          <table class="info-table">
            <tr>
              <td colspan="2">Yogyakarta, {{ tanggal }}<br>Mengetahui</td>
              <td></td>
            </tr>
            <tr>
              <td>Penguji I<br><br><br><br></td>
              <td style="text-align: center;">Penguji II</td>
            </tr>
            <tr>
              <td>{{ penguji1 }}<br></td>
              <td style="text-align: center;">{{ penguji2 }}</td>
            </tr>
            <tr>
              <td >Telah Direvisi dan disetujui<br>Yogyakarta, {{ tanggal }}<br>Dosen Pembimbing Skripsi<br><br><br><br></td>
            </tr>
            <tr>
              <td>{{ dosen_pembimbing }}</td>
            </tr>
          </table>
        </div>
        <button class="button no-print" onclick="window.print()">Print</button>
        <a class="button no-print" href="{% url 'berita_acara' %}">Kembali ke Form</a>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
  